@import '../../index.css';

.navbar {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  list-style-type: none;
  background-color: rgb(240, 245, 250);
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.navbar>li {
  padding: .5rem .5rem 0 0;
  width: 50%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.7rem;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar:first-child {
  border-top-left-radius: 25px;
}

.navbar:last-child {
  border-top-right-radius: 25px;
}

.navbar>li:hover:is(:last-child) {
  border-top-right-radius: 25px;
  background-color: white;
}

.navbar>li:hover:is(:first-child) {
  border-top-left-radius: 25px;
  background-color: white;
}

.navbar>li.selected:is(:last-child) {
  border-top-right-radius: 25px;
  background-color: white;
}

.navbar>li.selected:is(:first-child) {
  border-top-left-radius: 25px;
  background-color: white;
}

.icon {
  margin: .6rem;
}
